<h2>Site FAQ</h2>
<h3>Staff</h3>
<details>
  <summary>Who runs this thing?</summary>
  <p>Katherine St. Asaph (katherinestasaph@gmail.com, @katstasaph on Discord) is the site administrator, assisted by committees responsible for editing, selecting songs and recruiting writers (currently inactive).</p>
  <p>Prior versions of the blurber were maintained by Edward Okulicz (edwardo@furanes.net).</p>
</details>
<details>
  <summary>Who are the editors?</summary>
  <p>As of 2024, active editors include Will Adams, Jonathan Bradley, Thomas Inskeep, and Katherine St. Asaph.</p>
</details>
<details>
  <summary>Who are the selectors?</summary>
  <p>As of 2024, the selectors committee includes Will Adams, Thomas Inskeep, Hannah Jocelyn, Vikram Joseph, Joshua Minsoo Kim, Katherine St. Asaph, and Jacob Sujin Kuppermann.</p>
</details>  
<details>
  <summary>Who were the recruiters?</summary>
  <p>Crystal Leww and Edward Okulicz. Currently, due to our limited schedule, we are not actively recruiting writers.</p>
</details>  
<details>
  <summary>How can I join the above committees?</summary>
  <p>If you would like to help out with any aspect of the site -- editing, selecting, backend administration, social media promotion -- let us know!</p>
</details>
<h3>Logistics</h3>
<details>
  <summary>When do posts run on the site?</summary>
  <p>As of 2024, we post songs during the first <i>full</i> week of every month, starting Monday (e.g., February 5-9, 2014), with about three songs running per day.</p>
  <p>Historically, we ran three to four songs per day, every weekday. Our current posting schedule is an experiment -- you can help it go well!</p>
</details>
<details>
  <summary>What are the deadlines?</summary>
  <p>As a general rule, songs close around 9 PM Pacific US/12 AM Eastern US/5 AM England. We try to keep to this schedule as much as possible.</p>
  <p>Editors will try to announce when they're closing songs on Discord.</p>
</details>
<details>
  <summary>Help - a song is closed but I really really want to write about it!</summary>
  <p>Ping the day's editor ASAP by email or on Discord, and we'll try to accommodate, within reason.</p>
</details>
<details>
  <summary>Do blurbs autosave?</summary>
  <p>As of right now (January 2024), <strong>no</strong> - we advise keeping a copy of any longer in-progress blurbs. We hope to add this functionality soon.</p>
</details>
<details>
  <summary>Where can I get announcements about song closing times, scheduling, and special features -- and also hang out and talk music with you all?</summary>
  <p>Join our Discord! Ping any writer for an update. (Discord auto-expires invitation links after 7 days so we'll send you a new one.)
  <p>For major announcements, we also will email the writer mailing list, which you should have access to (ping Edward if not)</p>.
</details>
<h3>Songs and blurbing</h3>
<details>
  <summary>What songs should I write about?</summary>
  <p>We like to keep this open. Write about whichever songs you want to, as often or as rarely as works for you. If you haven’t written anything for weeks or months or years, we’ll welcome you back with open arms. We appreciate everyone offering whatever they have for free and don’t have any demands on frequency of writing.</p>
</details>
<details>
  <summary>What kinds of blurbs are you looking for?</summary>
  <p>We are deliberately open-ended about this: quick hits, deep musical dives, cutting contrarianism, poptimist enthusiasm, hot takes, and the occasional shitpost are all welcome, as long as they are at least somewhat related to the song.</p>
  <p>For more granular advice, see the <%= link_to "style guide", page_path(:style) %>.</p>
</details>
<details>
  <summary>How long should my blurb be?</summary>
  <p>Up to you! We've had everywhere from one-worders to longreads.</p>
</details>
<details>
  <summary>I really want to copy my blurb from Microsoft Word/Outlook/email into the text editor, but this causes formatting issues!</summary>
  <p>Solution 1: Copy blurb text into Notepad (Windows), TextEdit (Mac), or your browser address bar; this strips formatting automatically. Note that this also strips bold/italic/underline, and you'll have to re-add it.</p>
  <p>Solution 2: Use the alternate keyword shortcuts Ctrl+Shift+V (Windows) or Command+Option+Shift+V (Mac) while pasting. These also strip formatting.</p>
  <p>Solution 3: Compose directly in the blurber.</p>
</details>
<details>
  <summary>Can I use my blurbs elsewhere?</summary>
  <p>We’d like you to link back to us, but feel free to republish anything you write on the Jukebox on your blog or anywhere else. For Tumblr/Cohost posts, reblog whole Jukebox posts, or just reblog your blurb; either is great.</p>
</details>
<details>
  <summary>How do you choose what songs to cover?</summary>
  <p>A lot of factors: chart positions, streaming counts, coverage elsewhere, and general cultural impact; as well as genre diversity,previous Jukebox performance, writer enthusiasm, personal whims, and being interesting to write about.</p>
</details>
<details>
  <summary>I want us to write about X song - how can I make that happen?</summary>
  <p>Ask us! While we are currently running a limited set of songs, we're always happy to take suggestions, particularly of things off our radar. If you include some background info on the song/artist, we'll be more likely to be convinced.</p>
  <p>Or, wait until December; during our year-end Amnesty Week feature, writers choose one single from the past year for us to cover.</p>
</details>
<h3>The blurber</h3>
<details>
  <summary>Help - I got an an error in the blurber!</summary>
  <p>Ping Katherine ASAP via email or Discord <s>when</s> if this happens and <s>yell at her for breaking production</s> inform her of the error; please mention the browser version/operating system you're using.</p>
  <p>Alternatively, you can make a bug report on the <a href="https://github.com/katstasaph/tsj">GitHub repo</a> once it is public. </p>
</details>
<details>
  <summary>I want the blurber to do X. Can you make that happen?</summary>
  <p>Ping Katherine with your feature request and she'll add it to the list.</p>
</details>
<details>
  <summary>What features are currently on the to-do list?</summary>
  <p>Currently: Blurb autosave; ability to write blurbs in HTML or Markdown; audio and video embeds of songs in the blurber; notification to writers and editors if a song is closing while a writer is still in it.</p>
</details>
<h3>Miscellaneous</h3>
<details>
  <summary>What do the colors mean?</summary>
  <p>Light blue: no blurbs; medium blue: 1-5 blurbs; green: 6-11 blurbs (minimum required for a full post); red: 11 blurbs; yellow: in editing process; white: published.</p>
</details>
<details>
  <summary>What is Amnesty Week?</summary>
  <p>Our year-end feature, traditionally mid- to late December, where any active writer may choose any 2024 single we didn't cover for us to write about; in the past we've also done reader suggestions and/or big songs we missed.</p> 
</details>