<h2>Style Guide</h2>
<p>This guide is non-exhaustive. It's mostly to give you an idea how to write so it's easier for editors to keep the writing on the site in relatively consistent style.</p>

<p>If there's something you're not sure about, or if you would like to do a bit, ping one of the editors via Discord or email.</p>

<p><strong>NOTE:</strong> The new blurber uses a different backend and text editor, so some behavior may be different. Ping Katherine on Discord <s>when</s> if something weird happens.</p>

<h3>Formatting and HTML</h3>
<ul>
<li>Italics are preferred for emphasis and strongly recommended for foreign words and phrases that are not fully absorbed into English, such as <i>la petite mort</i>.</li>
<li>Please please please avoid cutting and pasting directly from a word processor or email, as it will insert a lot of incompatible XML. Microsoft Word is a particularly egregious offender, as is anything that throws in copious numbers of &lt;div&gt; tags that also mess with the site's CSS.</li>
<li>Bold and strikethrough are best used sparingly for <strong>particularly strong</strong> emphasis and <s>facetious</s> self-corrections, respectively.</li>
<li>When linking to other sites, do not include spaces or quotation marks inside the linked text, e.g., "<A HREF="https://www.youtube.com/watch?v=p6Cnazi_Fi0">Padam Padam</A>" not<A HREF="https://www.youtube.com/watch?v=p6Cnazi_Fi0"> "Padam Padam."</A></li>
<li>For tradition's sake, all scores go inside brackets, e.g., [10].</li>
</ul>

<h3>Punctuation</h3>
<ul>
<li>Commas and full stops go inside the quotation marks as per U.S. (not U.K.) practice. All other punctuation goes outside.</li>
<li>Use an em-dash (—), or two individual dash characters (--) to set off clauses, not a hyphen (-).</li>
<li>Use double quotes, not single quotes or inverted commas, for individual words, song titles and quotes, e.g., “Psychedelic Switch" not 'Psychedelic Switch'</li>
<li>Use inverted commas (' ') only if you have a quote within a quote or a title within a quote, e.g., "Does she know Billy Joel cause you played her 'Uptown Girl'?"</li>
<li>For abbreviations of decades, the apostrophe goes before the numbers, not after, e.g., '80s (not 80's). For full decades, use no apostrophe, e.g., 1980s (not 1980's).</li>
<li>Use one space only after periods/full stops.</li>
<li>Use the serial/Oxford comma to separate list items, e.g., "this, that, and the other." For lists of particularly long or gnarly items (rough rule: when the list items themselves contain commas), separate with semicolons.</li>
<li>Unless you're using a semicolon as a list separator, the text on the left and the right of the semicolon should be complete sentences. If not, you might want to use a colon or dash instead.</li>
</ul>

<h3>Spelling, Capitalization, and Names</h3>
<ul>
<li>Both U.S. and U.K. English spellings of words are fine on the site. The choice between realise/realize and colour/color is up to you.</li>
<li>Within the limits of what can be done in a standard font, reproduce artists’ names faithfully, e.g., Reneé Rapp, (G)I-DLE, ††† </li>
<li>The same goes for song titles, e.g., "Hellokittybalahcurri3 hellokitty美味しい"</li>
<li>Albums and titles of films, books or publications should be italicised, e.g., <i>Guts</i>, <i>Pitchfork</i>, <i>The Idol</i></li>
<li>Use quotation marks for song, article, or episode titles. Use standard English title case, e.g., “Planet of the Bass” not “Planet Of The Bass."</li>
<li>Use ampersands only when they appear in a song’s official artist/title, e.g., “A&W”</li>
<li>For songs with parentheticals or subtitles, such as "World Class Sinner / I'm a Freak" or "(It Goes Like) Nanana," it is OK to use the short version. If you want to write the full title, only do so on first reference (unless you're doing a bit).
<li>(Editors only) Unfortunately, reproduce exactly whatever arcane punctuation artists use to denote guests, e.g., Zach Bryan ft. Kacey Musgraves, Raye & 070 Shake, Shakira x BZRP, Drake ft. Sexyy Red & SZA</li>
</ul>

<h3>Word Usage</h3>
<ul>
<li>Use full words for numbers between one and nine; use digits for numbers 10 and greater.</li>
<li>"Comprise": Both "The album comprises 10 songs" and "The album is composed of 10 songs" are correct. "The album is comprised of 10 songs" is not.</li>
<li>Use toward, forward, backward, etc., rather than towards, forwards, backwards, etc. (exception: quoting song lyrics)</li>
</ul>

<h3>Specific Terms</h3>
<ul>
<li>a cappella, not acapella, a capella, etc. (Exception: Kelis - "Acapella")
<li>Auto-Tune to describe the specific technology; autotuned/autotuning to describe the general vocal effect.</li>
<li>boy band, girl group, etc.; not boyband, girlgroup</li>
<li>K-pop, J-pop, etc.; not K-Pop, Kpop, etc.</li>
<li>Lana Del Rey, not Lana Del Ray</li>
<li>R&B, not R-n-B, RnB, R and B, etc.</li>
<li>TikTok, not Tik Tok. (Exception: Kesha - "TiK ToK")</li>
<li>YouTube, not Youtube. YT is okay as an abbreviation if it is clear what you are referring to.</li>
</ul>