<h2>Style Guide</h2>
<p>This guide is non-exhaustive. It's mostly to give you an idea how to write so it's easier for editors to keep the writing on the site in relatively consistent style.</p>

<p>If there's something you're not sure about, or if you would like to do a bit, ping one of the editors via Discord or email.</p>

<p><strong>NOTE:</strong> The new blurber uses a different backend and text editor, so some behavior may be different. Ping Katherine on Discord <s>when</s> if something weird happens.</p>

<h4>Formatting and HTML</h4>
<ul>
<li>Italics are preferred for emphasis and strongly recommended for foreign words and phrases that are not fully absorbed into English, such as <i>la petite mort</i>.</li>
<li>Please please please avoid cutting and pasting directly from a word processor or email, as it will insert a lot of incompatible XML. Microsoft Word is a particularly egregious offender, as is anything that throws in copious numbers of &lt;div&gt; tags that also mess with the site's CSS.</li>
<li>Bold and strikethrough are best used sparingly for <strong>particularly strong</strong> emphasis and <s>facetious</s> self-corrections, respectively.</li>
</ul>

<h4>Punctuation</h4>
<ul>
<li>Commas and full stops go inside the quotation marks as per U.S. (not U.K.) practice. All other punctuation goes outside.</li>
<li>Use double quotes, not inverted commas, for individual wods, song titles and quotes, e.g. “Psychedelic Switch”</li>
<li>Use inverted commas (' ') only if you have a quote within a quote or a title within a quote, e.g., "Does she know Billy Joel cause you played her 'Uptown Girl'?"</li>
<li>Use one space only after full stops.</li>
<li>Unless you're using a semicolon as a list separator, the text on the left and the right of the semicolon should be complete sentences. If not, you might want to use a colon instead.</li>
</ul>

<h4>Spelling, Capitalization, and Names</h4>
<ul>
<li>Both U.S. and U.K. English spellings of words are fine on the site. The choice between realise/realize and colour/color is up to you.</li>
<li>Within the limits of what can be done in a standard font, reproduce artists’ names faithfully, e.g. Reneé Rapp, (G)I-DLE, ††† </li>
<li>The same goes for song titles, e.g., "Hellokittybalahcurri3 hellokitty美味しい"</li>
<li>Albums and titles of films, books or publications should be italicised, e.g. <i>Guts</i>, <i>Pitchfork</i>, <i>The Idol</i></li>
<li>Use quotation maks for song, article, or episode titles, with standard English title case, e.g. “Planet of the Bass” not “Planet Of The Bass"</li>
<li>Use ampersands only when they appear in a song’s official artist/title, e.g. “A&W”</li>
<li>For songs with parentheticals or subtitles, such as "World Class Sinner / I'm a Freak" or "(It Goes Like) Nanana," it is OK to use the short version. If you want to write the full title, only do so on first reference (unless you're doing a bit).
<li>(Editors only) Unfortunately, reproduce exactly whatever arcane punctuation artists use to denote guests, e.g., Zach Bryan ft. Kacey Musgraves, Raye & 070 Shake, Shakira x BZRP, Drake ft. Sexyy Red & SZA</li>
</ul>